.container{
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.calculator{
    background-color: grey;
    height:600px;
    width: 500px;
    padding: 50px;
    border-radius: 12px;
}

.display{
    background-color: rgb(118, 149, 127);
    height: 80px;
    width: 500px;
    display: flex;
    justify-content: flex-end;
    background-color: ;
}

.number{
    margin-right: 20px;
    font-family: 'digitaldream';
}

.interface{
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    height: 500px;
}

button{
    height: 100px;
    width: 100px;
    margin: 5px;
    font-size: 30px;
    color: white;
}

.greyButton{
    background-color: rgb(99, 98, 98);
}

.orangeButton{
    background-color: orange;
}

#zero{
    width: 210px;
}

@font-face{
    font-family:'digitaldream';
    src: url('./fonts/DIGITALDREAM.ttf');
   }